/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT TOP 1000 [CertificateKey]
      ,[LastChange]
      ,[DateBirth]
      ,[DateDeath]
      ,[Sex]
      ,[MannerOfDeath]
      ,[UCCode]
      ,[MainInjury]
      ,[Status]
      ,[Reject]
      ,[Coding]
      ,[CodingVersion]
      ,[CodingFlags]
      ,[SelectedCodes]
      ,[SubstitutedCodes]
      ,[ErnCodes]
      ,[AcmeCodes]
      ,[MultipleCodes]
      ,[Comments]
      ,[FreeText]
      ,[ToDoList]
      ,[CoderReject]
      ,[DiagnosisModified]
      ,[Residence]
      ,[Name]
      ,[Address]
      ,[CertImage]
      ,[AutopsyRequested]
      ,[AutopsyUsed]
      ,[RecentSurgery]
      ,[DateOfSurgery]
      ,[ReasonSurgery]
      ,[DateOfInjury]
      ,[PlaceOfOccurrence]
      ,[ActivityCode]
      ,[ExternalFreeText]
      ,[Pregnancy]
      ,[Stillbirth]
      ,[MultiplePregnancy]
      ,[CompletedWeeks]
      ,[BirthWeight]
      ,[AgeOfMother]
      ,[ConditionsMother]
  FROM [IRIS].[dbo].[WorkShop2011Ident]


  select count(*), certificateKey   FROM [IRIS].[dbo].[WorkShop2011MedCod] group by CertificateKey
  order by 1 desc

  select max(certificateKey) from WorkShop2011Ident